{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container container-box mt-5 mb-5">

    <a href="{% url 'get_started' %}" class="back-btn">← Orqaga</a>

    <div class="row mt-4 g-4">

        <div class="col-md-5">

            <div style="margin-bottom:10px; font-size:18px; font-weight:600; color:#38bdf8;">
                🏢 Kompaniya ish joyi
            </div>

            {% if vacancy.company_image %}
            <img src="{{ vacancy.company_image.url }}" class="card-img" width="500" height="500">
            {% else %}
            <img src="https://avatars.mds.yandex.net/i?id=2286bd4d71fa9639828f652a28099a149c009ec1-5301271-images-thumbs&n=13"
                 width="500">
            {% endif %}

        </div>

        <div class="col-md-7">
            <div class="card-detail">

                <span class="badge-job">in demand</span>

                <div class="title mt-2">
                    {{ vacancy.title }}
                </div>

                <p class="text-secondary mt-2">
                    📅 {{ vacancy.updated_at }}
                </p>

                <p>
                <div class="section-title">💼 skills: {{ vacancy.skills }}</div>
                </p>
                <p>
                    knowledges: {{ vacancy.knowledge }}
                </p>

                <p>
                <div class="section-title">📝 requairements: {{ vacancy.requirements }}</div>
                </p>
                <p>
                    We are looking for an experienced <b>"{{ vacancy.title }}"</b> hopefully we are hiring a person who
                    know these languages: <b>"{{ vacancy.known_languages }}"</b>
                </p>
                <p>
                    work of experience: {{ vacancy.work_of_experience }}
                </p>

                <div class="section-title">📍 Location</div>
                <p>
                    address: {{ vacancy.location }}
                </p>

                <div class="section-title">💰 Salary monthly</div>
                <p class="salary">
                    $ {{ vacancy.salary }}
                </p>
                <div class="section-title">📱 contacts</div>
                <p>
                    {{ vacancy.contacts }}
                </p>
                <div class="d-flex gap-3">
                    {% if request.user.is_staff %}
                    <button class="btn-main w-100 bt-10" onclick="openModal()"
                            style="background: linear-gradient(45deg, #3b82f6, #2563eb); margin-top: 15px;">
                        <a href="{% url 'update-vacancy' vacancy.pk %}"
                           style="color: white; text-decoration: none;">
                            Update Vacancy
                        </a>
                    </button>
                    <button class="btn-main w-100 bt-10" onclick="openModal()"
                            style="background: linear-gradient(45deg, #ef4444, #dc2626); margin-top: 15px;">
                        <a href="{% url 'job-delete' vacancy.pk %}"
                           style="color: white; text-decoration: none;">
                            Delete Vacancy
                        </a>
                    </button>
                    {% endif %}
                </div>
                <div class="card-body margin mt-5">
                    <h3>Comments</h3>

                    {% for comment in comments %}
                    <div class="d-flex justify-content-between align-items-start mb-3">
                        <div>
                            <p class="mb-0">{{ comment.comment }}</p>
                            {% if comment.user.is_superuser or request.user == comment.user %}
                                <div class="d-flex justify-content-between align-items-start mb-3">
                                <small style="font-size: 8pt">
                                    <a href="{% url 'update_comment' comment.pk %}">
                                        edit
                                    </a>
                                </small>
                                <small style="font-size: 8pt">
                                    <a href="{% url 'delete_comment' comment.pk %}">
                                        delete
                                    </a>
                                </small>
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-end">
                            <p class="mb-0">{{ comment.user.username }}</p>
                            <small style="font-size: 7pt">
                                {{ comment.created_at }}
                            </small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <form method="post" action="{% url 'write_comment' vacancy.pk %}">
                {% csrf_token %}
                <p>{{ form.as_p }}</p>
                <button type="submit">Send Comment</button>
            </form>
        </div>

    </div>

</div>
{% endblock main %}
