
<footer class="footer">
    <div class="container">
        <div class="row g-4">

            <div class="col-md-4">
                <h4 class="footer-logo">JobFinder X</h4>
                <p class="footer-text">
                    Find your dream job with modern and fast job search experience.
                    Built for professionals and companies.
                </p>
            </div>

            <div class="col-md-4">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="footer-links">
                    <li><button class="btn btn-primary"><a href="{% url 'get_started' %}"><b>Home</b></a></button></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="footer-title">Contact</h5>
                <p class="footer-text">📧 support@jobfinderx.com</p>
                <p class="footer-text">📍 Tashkent, Uzbekistan</p>
                <p class="footer-text">📞 +998 90 123 45 67</p>
            </div>

        </div>

        <hr class="footer-line">

        <div class="footer-bottom">
            <p>© 2026 JobFinder X. All rights reserved.</p>
        </div>
    </div>
</footer>